<div class="todo-sections">
    <!-- Overdue Section -->
    <section class="overdue-section">
        <h5>Overdue</h5>
        <div id="count-overdue">
            <%= overdue.length %>
        </div>
        <ul>
            <% overdue.forEach(todo=> { %>
                <li>
                    <input type="checkbox" <%=todo.completed ? 'checked' : '' %>>
                    <span>
                        <%= todo.title %>
                    </span>
                    <span class="due-date">
                        <%= todo.dueDate %>
                    </span>
                </li>
                <% }); %>
        </ul>
    </section>

    <!-- Due Today Section -->
    <section class="due-today-section">
        <h5>Due Today</h5>
        <div id="count-due-today">
            <%= dueToday.length %>
        </div>
        <ul>
            <% dueToday.forEach(todo=> { %>
                <li>
                    <input type="checkbox" <%=todo.completed ? 'checked' : '' %>>
                    <span>
                        <%= todo.title %>
                    </span>
                </li>
                <% }); %>
        </ul>
    </section>

    <!-- Due Later Section -->
    <section class="due-later-section">
        <h5>Due Later</h5>
        <div id="count-due-later">
            <%= dueLater.length %>
        </div>
        <ul>
            <% dueLater.forEach(todo=> { %>
                <li>
                    <input type="checkbox" <%=todo.completed ? 'checked' : '' %>>
                    <span>
                        <%= todo.title %>
                    </span>
                    <span class="due-date">
                        <%= todo.dueDate %>
                    </span>
                </li>
                <% }); %>
        </ul>
    </section>
</div>