<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content="<%= csrfToken %>" />
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    var token= document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    function toggleCompletionStatus(id, completed) {
      fetch(`/todos/${id}/markAsCompleted`, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ completed: completed, _csrf: token }),
      })
      .then((res) => {
        if (res.ok) {
          window.location.reload();
        }
      })
      .catch((err) => console.error(err));
    }

    // Delete Todo
    function deleteTodo(id) {
      fetch(`/todos/${id}`, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ _csrf: token }),
      })
      .then((res) => {
        if (res.ok) {
          window.location.reload();
        }
      })
      .catch((err) => console.error(err)); 
    }
    
    // Validate form fields
    function validateForm() {
      const title = document.getElementById('title').value;
      const dueDate = document.getElementById('dueDate').value;
      return title && dueDate;
    }
  </script>
  <title>To-Do Manager</title>
</head>
<body>
  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2">

      <!-- Header Section -->
      <%- include("header") %>
      <a href="/signout">Signout</a>
      <!-- Form to Add New Todo -->
      <form action="/todos" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="flex flex-wrap items-center gap-2 py-4">
          <div class="flex-auto">
            <input type="text" name="title" placeholder="Enter a new to-do"
              class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm" required />
          </div>
          <div class="flex-auto">
            <input type="date" name="dueDate"
              class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm" required />
          </div>
          <div class="flex-none">
            <button type="submit"
              class="bg-green-600 text-white px-5 py-1.5 rounded font-medium">Add</button>
          </div>
        </div>
      </form>

      <!-- Render Todos -->
      <%- include("todo", { overdue, dueToday, dueLater, completed }) %>

      <!-- Footer -->
      <%- include("footer") %>

    </div>
  </div>
</body>
</html>