<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% todos.forEach(todo=> { %>
            <tr>
                <td>
                    <%= todo.title %>
                </td>
                <td>
                    <%= todo.dueDate.toISOString().split('T')[0] %>
                </td>
                <td>
                    <input type="checkbox" <%=todo.completed ? 'checked' : '' %>
                    data-id="<%= todo.id %>"
                        class="toggle-complete"
                        >
                </td>
                <td>
                    <button data-id="<%= todo.id %>" class="delete-btn">Delete</button>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>